@page "/tastatur"

<PageTitle>Tastaturereignisse</PageTitle>

<h3>Tastatur</h3>

<div>
	<input type="text" @bind-value="wert" @bind-value:event="oninput" @onkeypress="VerarbeiteTaste">
</div>

<div>
	Gedrückte Taste: @taste <br>
	Wert im Feld: @wert
</div>

<a href="https://blazor.net" target="_blank">Blazor</a>
