<input type="range" @bind="Bewertung"
       min="1" max="@Anzahl"/>
<span>@Ausgabe</span>

@code {
	[Parameter]
	public int Anzahl { get; set; } = 5;

	private string Ausgabe = string.Empty;

	private int? bewertung = 0;
	public int? Bewertung
	{
		get
		{
			return bewertung;
		}
		set
		{
			bewertung = value;
			Ausgabe = $"Bewertung {value} - danke!";
		}
	}
}
